# Ignore node_modules on the host, as they will be installed inside the container
node_modules

# Ignore the distributable folder on the host, as it will be generated inside the container
dist

# Ignore local environment files and Docker files
.env
Dockerfile
docker-compose.yml

# Ignore git and npm debug logs
.git
.gitignore
npm-debug.log